---
import { Image } from "astro:assets";
import arrowLeft from "../../assets/icons/arrow_left_alt.svg";
import arrowRight from "../../assets/icons/arrow_right_alt.svg";

import {
    type CollectionEntry,
    type CollectionKey,
    getCollection,
} from "astro:content";

interface Props {
    entry: CollectionEntry<CollectionKey>;
}
const { entry } = Astro.props;

const allArticles: CollectionEntry<CollectionKey>[] = await getCollection(
    entry.collection,
);
const sortedArticles: CollectionEntry<CollectionKey>[] = allArticles.sort(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
const currentIndex = sortedArticles.findIndex(
    (article) => article.id === entry.id,
);
const prevArticle: CollectionEntry<CollectionKey> | null =
    currentIndex < sortedArticles.length - 1
        ? sortedArticles[currentIndex + 1]
        : null;
const nextArticle: CollectionEntry<CollectionKey> | null =
    currentIndex > 0 ? sortedArticles[currentIndex - 1] : null;

function collectionPath(article: CollectionEntry<CollectionKey>) {
    return article.collection
        .replace(/([a-z0-9])([A-Z])/g, "$1-$2")
        .toLowerCase();
}

type NavigationItem = {
    article: CollectionEntry<CollectionKey>;
    direction: "prev" | "next";
    icon: ImageMetadata;
    label: string;
};

const navigationItems: NavigationItem[] = [
    prevArticle && {
        article: prevArticle,
        direction: "prev",
        icon: arrowLeft,
        label: "Go to the previous page",
    },
    nextArticle && {
        article: nextArticle,
        direction: "next",
        icon: arrowRight,
        label: "Go to the next page",
    },
].filter(Boolean) as NavigationItem[];

function formatPubDate(pubDate: Date) {
    return pubDate.toISOString().substring(0, 10).replace(/-/g, " / ");
}
---

<nav>
    {
        navigationItems.map(({ article, direction, icon, label }) => (
            <a
                class={direction}
                href={`/articles/${collectionPath(article)}/${article.id}`}
                aria-label={label}
            >
                <button>
                    <Image
                        src={icon}
                        height="26"
                        alt={`Arrow ${direction === "prev" ? "Left" : "Right"}`}
                    />
                    <p>
                        {article.data.title}
                        <time datetime={article.data.pubDate.toISOString()}>
                            {formatPubDate(article.data.pubDate)}
                        </time>
                    </p>
                </button>
            </a>
        ))
    }
</nav>

<style>
    nav {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin-top: auto;

        &:has(.prev:only-child) {
            justify-content: flex-start;
        }

        &:has(.next:only-child) {
            justify-content: flex-end;
        }
    }

    a {
        &.prev button {
            flex-direction: row;

            p {
                align-items: flex-start;
            }
        }

        &.next button {
            flex-direction: row-reverse;

            p {
                align-items: flex-end;
            }
        }
    }

    button {
        align-items: center;
        background-color: transparent;
        border: 1px solid var(--color-utils-background);
        border-radius: 0.75em;
        display: flex;
        padding: 0.5em;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
        user-select: none;

        &:focus-visible,
        &:hover {
            background-color: var(--color-utils-background);
            border-radius: 1.25em;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    img {
        filter: brightness(0.75);
    }

    p {
        color: var(--color-text-secondary);
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    time {
        word-spacing: -0.15em;
    }
</style>
