---
import type { CollectionEntry } from "astro:content";
import LayoutsTime from "@components/LayoutsTime.astro";
import { getAdjacentArticles } from "@utils/collection";
import { Icon } from "astro-icon/components";

interface Props {
  id: string;
}
const { id } = Astro.props;

const { prev: prevArticle, next: nextArticle } = await getAdjacentArticles(id);
const navigationItems = [
  prevArticle && {
    article: prevArticle,
    direction: "prev",
    label: "Go to the previous page",
  },
  nextArticle && {
    article: nextArticle,
    direction: "next",
    label: "Go to the next page",
  },
].filter(Boolean) as {
  article: CollectionEntry<"articles">;
  direction: "prev" | "next";
  label: string;
}[];
---

<nav>
  {
    navigationItems.map(({ article, direction, label }) => {
      const frontmatter = article.data;
      return (
        <a
          class={direction}
          href={`/articles/${article.id}`}
          aria-label={label}
        >
          <div tabindex="-1">
            {direction === "prev" ?
              <Icon name="lucide:arrow-left" size={20} />
            : <Icon name="lucide:arrow-right" size={20} />}
            <p>
              {frontmatter.title}
              <LayoutsTime date={frontmatter.pubDate} />
            </p>
          </div>
        </a>
      );
    })
  }
</nav>

<style>
  nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;

    &:has(.prev:only-child) {
      justify-content: flex-start;
    }

    &:has(.next:only-child) {
      justify-content: flex-end;
    }
  }

  a {
    &.prev div {
      flex-direction: row;

      p {
        align-items: flex-start;
      }
    }

    &.next div {
      flex-direction: row-reverse;

      p {
        align-items: flex-end;
      }
    }
  }

  div {
    display: flex;
    align-items: center;
    padding: 0.4em 0.4em 0.3em;
    border: 1px solid var(--neutral-700);
    border-radius: var(--border-radius-small);
    background-color: transparent;
    transition: all var(--transition-duration) var(--transition-timing-function);
    user-select: none;

    &:focus-visible,
    &:hover {
      background-color: var(--neutral-800);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  svg {
    filter: brightness(0.75);
  }

  p {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--neutral-400);
    font-size: 0.8em;
    line-height: 1.2;
    letter-spacing: 0;
  }

  time {
    word-spacing: -0.15em;
  }
</style>
