---
const time = "2024/12/05/22/44".split("/");
---

<footer>
    <i>
        <p>
            Website Last Edited: 
            <time datetime=`${time[0]}-${time[1]}-${time[2]}T${time[3]}:${time[4]}`>{time[0]}-{time[1]}-{time[2]} {time[3]}:{time[4]}</time>
        </p>
        <p>
            © {time[0]} by SnowViktor is licensed under 
            <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>
        </p>
    </i>
</footer>