---
const time = '2024/07/31/23/35'.split('/');
---

<footer>
    <p class="footer-p"><i>Website Last Edited: <time datetime=`${time[0]}-${time[1]}-${time[2]}T${time[3]}:${time[4]}`>{time[0]}/{time[1]}/{time[2]} {time[3]}:{time[4]}</time></i></p>
    <p class="footer-p">© {time[0]} SnowViktor</p>
</footer>