---
---

<footer>
    <p><i>Website Last Edited: <time></time></i></p>
    <p id="copyright"></p>
</footer>

<style>
    @font-face {
        font-display: swap;
        font-family: "Trebuchet-MS";
        src: url("/fonts/Trebuchet-MS.woff2");
    }

    p {
        font-family: "Trebuchet-MS";
    }
</style>

<script>
    document.addEventListener('astro:page-load', () => {
        function dateZeroPadding(data: number) {
            return String(data).padStart(2, '0')
        }
        const now = new Date(document.lastModified);
        const year = now.getFullYear();
        const month = dateZeroPadding(now.getMonth() + 1);
        const date = dateZeroPadding(now.getDate());
        const hour = dateZeroPadding(now.getHours());
        const minute = dateZeroPadding(now.getMinutes());

        const time = document.querySelector('time');
        time!.dateTime = `${year}-${month}-${date}T${hour}:${minute}`;
        time!.textContent = `${year}/${month}/${date} ${hour}:${minute}`;

        document.getElementById('copyright')!.textContent = `© ${year} SnowViktor`;
    });
</script>