---
const time = "2025/01/04/14/02".split("/");
---

<footer>
    <p>
        Website Last Edited: <time datetime=`${time[0]}-${time[1]}-${time[2]}T${time[3]}:${time[4]}`>{time[0]}-{time[1]}-{time[2]} {time[3]}:{time[4]}</time><br />
        © {time[0]} by SnowViktor is licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>
    </p>
</footer>

<style>
    footer {
	    font-family: var(--font-serif);
	    font-size: 12px;
        font-style: oblique;
		padding: 2vh 0;
        text-align: right;
        
        a {
	        color: inherit;
	        text-decoration: none;

	        &:focus-visible,
	        &:hover {
	        	color: var(--color-primary);
	        	text-decoration: underline;
	        	text-decoration-color: var(--color-primary-text-decoration);
	        	text-decoration-thickness: 1px;
	        }
        }
    }
</style>