---
import BaseLayout from "./BaseLayout.astro";

interface Props {
    collectionName: string;
    frontmatter: {
        title: string | null;
        description: string;
        pubDate: Date;
    };
    titlePubDate: boolean;
}
const { collectionName, frontmatter, titlePubDate } = Astro.props;

const formatPubDate: string = frontmatter.pubDate
    .toISOString()
    .substring(0, 10)
    .replace(/-/g, "/");
const formatTitle: string | null = titlePubDate
    ? frontmatter.title
        ? `${formatPubDate}．${frontmatter.title}`
        : formatPubDate
    : frontmatter.title;
---

<BaseLayout
    title={formatTitle}
    description={frontmatter.description}
    headerTitle={frontmatter.title && frontmatter.title}
>
    <article>
        <p class={frontmatter.title ? "" : "no-h1"}>
            {collectionName}．<time datetime={frontmatter.pubDate.toISOString()}
                >{formatPubDate}</time
            >
        </p>
        {frontmatter.title && <h1>{frontmatter.title}</h1>}
        <hr />
        <slot />
    </article>
</BaseLayout>

<style>
    p {
        font: 500 0.8em var(--font-serif);
        text-align: center;

        &.no-h1 {
            margin: calc(36px * 0.67) 0; /* 36px、0.67em 分別是 h1 的 font-size、margin-block。 */
        }
    }

    p,
    h1 {
        letter-spacing: 0.04em;
    }
</style>
