---
import BaseLayout from "./BaseLayout.astro";

const { collectionName, titleDate = false, frontmatter } = Astro.props;

const formatDate = frontmatter.date.toISOString().substring(0, 10).replace(/-/g, "/");
const title = titleDate ? (frontmatter.title ? formatDate + "．" + frontmatter.title : formatDate) : frontmatter.title;
---

<BaseLayout title={title} description={frontmatter.description} headerTitle={frontmatter.title && frontmatter.title}>
    <article>
        <p id="information">
            {collectionName}．<time datetime={frontmatter.date.toISOString()}>{formatDate}</time>
        </p>
        {
            frontmatter.title && <h1>{frontmatter.title}</h1>
        }
        <hr />
        <slot />
    </article>
</BaseLayout>

<style>
    #information, h1 {
		text-align: center;
    }

    #information {
        font: 500 0.8em var(--font-serif);
    }
</style>
