---
import type { CollectionEntry } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/ui/Container.astro";
import ArticleNavigation from "@components/articles/ArticleNavigation.astro";
import ArticleMeta from "@components/articles/ArticleMeta.astro";
import Breadcrumbs from "@components/ui/Breadcrumbs.astro";
import { formatContentDate } from "@utils/time";

type Props = { id: string } & CollectionEntry<"articles">["data"];
const { id, title, description, pub_date, cover_image } = Astro.props;
---

<PageLayout
  title={`${title}．${formatContentDate(pub_date, false)}`}
  description={description}
  image={cover_image?.src.src}
>
  <Container size="md">
    <article>
      <Breadcrumbs id={id} />
      <ArticleMeta {...Astro.props} />
      <hr />
      <section class="content">
        <slot />
      </section>
    </article>
    <aside><ArticleNavigation id={id} /></aside>
  </Container>
</PageLayout>

<style>
  article {
    margin-bottom: auto;
  }

  .content {
    font-family: var(--font-serif);
    text-wrap: pretty;

    :is(h2, h3, h4, h5, h6) {
      font-family: var(--font-serif);
    }

    details {
      color: var(--neutral-400);
      text-align: initial;
      text-wrap: initial;
    }

    p:has(+ blockquote) {
      margin-bottom: 0;

      + blockquote {
        margin-top: 0;

        p {
          margin-top: inherit;
        }
      }
    }
  }

  aside {
    margin-top: 1em;
  }
</style>
