---
import BaseLayout from "./BaseLayout.astro";

const { collectionName, titlePubDate = false, frontmatter } = Astro.props;

const formatPubDate = frontmatter.pubDate.toISOString().substring(0, 10).replace(/-/g, "/");
const title = titlePubDate ? (frontmatter.title ? formatPubDate + "．" + frontmatter.title : formatPubDate) : frontmatter.title;
---

<BaseLayout title={title} description={frontmatter.description} headerTitle={frontmatter.title && frontmatter.title}>
    <article>
        <p id="information" class={frontmatter.title ? "" : "no-h1"}>
            {collectionName}．<time datetime={frontmatter.pubDate.toISOString()}>{formatPubDate}</time>
        </p>
        {
            frontmatter.title && <h1>{frontmatter.title}</h1>
        }
        <hr />
        <slot />
    </article>
</BaseLayout>

<style>
    #information, h1 {
		text-align: center;
    }

    #information {
        font: 500 0.8em var(--font-serif);

        &.no-h1 {
            margin: calc(36px * 0.67) 0; /* 36px、0.67em 分別是 h1 的 font-size、margin-block。 */
        }
    }
</style>
