---
import type { CollectionKey } from "astro:content";

import BaseLayout from "./BaseLayout.astro";

import ArticlesInformation from "../components/collection_layout/ArticlesInformation.astro";
import ArticleItem from "../components/collection_layout/ArticleItem.astro";

import { sortedCollection } from "../utils/function_collection";

interface Props {
    title: string;
    description: string;
    collectionKey: CollectionKey | CollectionKey[];
    annotation?: boolean;
}
const { title, description, collectionKey, annotation = false } = Astro.props;

const articles = await sortedCollection(collectionKey);
---

<BaseLayout title={title} description={description}>
    <h1>{title}</h1>
    <slot />
    <ArticlesInformation
        annotation={annotation}
        articlesLength={articles.length}
    />
    <ul>
        {
            articles.map((article) => (
                <li>
                    <ArticleItem article={article} />
                </li>
            ))
        }
    </ul>
</BaseLayout>

<style>
    @keyframes fadeInUp {
        from {
            opacity: 0.25;
        }
        to {
            opacity: 1;
        }
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
    }

    li {
        animation: fadeInUp 300ms linear both;
        animation-range: entry 100% cover 10%;
        animation-timeline: view();
        will-change: opacity;
    }
</style>
