---
import BaseLayout from "./BaseLayout.astro";

const { collectionName, titleDate = false, frontmatter } = Astro.props;

const formatDate = frontmatter.date.toISOString().substring(0, 10).replace(/-/g, "/");
const title = titleDate ? (frontmatter.title ? formatDate + "．" + frontmatter.title : formatDate) : frontmatter.title;
---

<BaseLayout title={title} description={frontmatter.description}>
    <article>
        <p id="information">
            {collectionName}．<time datetime={frontmatter.date.toISOString()}>{formatDate}</time>
        </p>
        <h1>{frontmatter.title}</h1>
        <slot />
    </article>
</BaseLayout>

<style>
    h1, #information {
        font-family: var(--font-serif);
		text-align: center;
    }

    #information {
        font-size: 0.8em;
        font-weight: 500;
    }
</style>
